div.content {
  background-color: #e6f5ff;
}
body.back {
  background-color: #c2d6d6;

}
h1 {
  text-align: center;
}

div.login {
  width: 200px;
  padding: 50px;
  margin-top: 10%;
  margin-left: 40%;
}
